/** Import Work Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

:root {
  --brand-color: #fc6238;
  --text: #343434; 
  --muted-text: #a1a1a1;
}

/** Apply Work Sans as the base font */
* {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  color: var(--text);
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  /* background-image: url('../images/pattern.svg');
  background-repeat: repeat;
  background-size: cover; */
}

.bg {
  background-image: url('../images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Center the motif-logo and set the background image */
.motif-logo {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  background: url('../images/logo.svg') no-repeat center center;
  background-size: contain;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  background: #f0f0f0;
  border-radius: 8px;
  list-style: none;
  margin-bottom: 8px;
  padding: 12px 12px;
}

li:hover {
  background: #dedede;
  cursor: pointer;
}

li a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 12px 0;
}

.footer-credits {
  text-align: center;
  margin-bottom: 12px;
  color: var(--muted-text);
}

.footer-copyright {
  text-align: center;
  color: var(--muted-text);
}

/* Tabs */
.options {
  color: #fff;
  list-style-type: none;
  margin: 8px auto 0 auto;
  width: 800px;
  z-index: 2;
}

.options li {
  display: inline-block;
  margin-right: 4px;
  line-height: 40px;
  border-radius: 8px;
  padding: 0 16px;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.options li:hover {
  background-color: #d1d1d1;
  transition-duration: var(--transition-duration);
}

.options li.active {
  background-color: var(--brand-color);
  transition-duration: var(--transition-duration);
  color: #ffffff;
}

#loader {
  background: url('../images/emblem.svg');
  background-size: 100% 100%;
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: calc(50vh - 2rem);
  left: calc(50vw - 2rem);
  z-index: 3;
}

#loaderPieces {
  background-image: url('../images/emblem1.svg');
  background-size: 100% 100%;
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: calc(50vh - 2rem);
  left: calc(50vw - 2rem);
  z-index: 3;
}

#loader.hidden, #loaderPieces.hidden {
  display: none;
}


.textReveal {
  animation-name: clipReveal;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fadePieces {
  animation-name: fadePieces;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fadeFast {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fadeGrow {
  animation-name: fadeGrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinBackwards {
  animation-name: spinBackwards;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.spinFast {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinCycle {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.spinAndGrow {
  animation-name: spinAndGrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinGrowCycle {
  animation-name: spinAndGrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.spinFade {
  animation-name: spinFade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.drawSlow {
  background: url('../images/emblemAlt.svg') !important;
  background-size: 100% 100% !important;
  height: 5rem !important;
  width: 5rem !important;
  position: absolute !important;
  top: calc(50vh - 2.5rem) !important;
  left: calc(50vw - 2.5rem) !important;
}

.drawFast {
  background: url('../images/emblemDrawFast.svg') !important;
  background-size: 100% 100% !important;
  height: 5rem !important;
  width: 5rem !important;
  position: absolute !important;
  top: calc(50vh - 2.5rem) !important;
  left: calc(50vw - 2.5rem) !important;
}

.drawFade {
  background: url('../images/emblemDrawFade.svg') !important;
  background-size: 100% 100% !important;
  height: 5rem !important;
  width: 5rem !important;
  position: absolute !important;
  top: calc(50vh - 2.5rem) !important;
  left: calc(50vw - 2.5rem) !important;
}

@keyframes clipReveal {
  from {
    clip-path: inset(0rem 0rem 0rem 18rem);
  }
  to {
    clip-path: inset(0rem 0rem 0rem 0rem);
  }
}

@keyframes blinkBorder {
  from {
      border-right: 1px solid rgba(255,255,255,0.0);
  }
  to {
      border-right: 1px solid rgba(255,255,255,1);
  }
}

@keyframes spin {
  from {
      transform: rotate(0deg);

  }
  to {
      transform: rotate(360deg);
  }
}

@keyframes spinBackwards {
  from {
      transform: rotate(0deg);
      left: calc(50vw + 8rem);
  }
  to {
      transform: rotate(-360deg);
      left: calc(50vw - 11rem);
  }
}

@keyframes spinAndGrow {
  0% {
      transform: rotate(0deg) scale(1); 
  }
  50% {
      transform: rotate(360deg) scale(1.5);
  }
  100% {
      transform: rotate(720deg) scale(1);
  }
}

@keyframes spinFade{
  0% {
      transform: rotate(0deg); 
      opacity: 1;
  }
  50% {
      transform: rotate(360deg);
      opacity: 0.1;
  }
  100% {
      transform: rotate(720deg);
      opacity: 1;
  }
}

@keyframes fade{
  0% {
      opacity: 0.7;
  }
  50% {
      opacity: 0.4;
  }
  100% {
      opacity: 0.7;
  }
}

@keyframes fadeIn{
  0% {
      opacity: 0.1;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0.1;
  }
}

@keyframes fadePieces{
  0% {
      opacity: 0.1;
      background: url('../images/emblem1.svg');
  }
  50% {
      opacity: 0.5;
      background: url('../images/emblem2.svg');
  }
  100% {
      opacity: 1;
      background: url('../images/emblem3.svg');
  }
}

@keyframes fadeOverlay{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeGrow{
  from {
      opacity: 0.1;
      transform: scale(1);
  }
  50% {
      opacity: 1;
      transform: scale(1.2);
  }
  100% {
      opacity: 0.1;
      transform: scale(1);
  }
}

#loaderOverlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #ffffffb3;
  backdrop-filter: blur(30px);
  opacity: 1;
}

#loaderOverlay.hidden {
  transition-duration: 1s;
  opacity: 0;
}

.back {
  border-radius: 8px;
  list-style: none;
  margin-bottom: 8px;
  background: #f0f0f0 url('../images/back.svg') no-repeat 50% 50%;
  position: fixed;
  top: 8px;
  left: 8px;
  height: 40px;
  width: 40px;
}

.back:hover {
  background: #dedede url('../images/back.svg') no-repeat 50% 50%;
}